@keyframes glitch {
  0% {
      transform: translate(0);
      opacity: 1;
  }
  20% {
      transform: translate(-2px, 2px);
  }
  40% {
      transform: translate(2px, -2px);
  }
  60% {
      transform: translate(-2px, -2px);
  }
  80% {
      transform: translate(2px, 2px);
  }
  100% {
      transform: translate(0);
  }
}

body {
    margin: 0;
    font-family: "Audiowide", serif;
    overflow: hidden;
    background-image: url(./src/img/bg-body.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  body h1 {
    color: #742362;
    text-shadow:
    0 0 5px #ff00d4, 
        0 0 10px #ff00d4, 
        0 0 20px #ff00d4, 
        0 0 40px #ff00d4;
    text-transform: uppercase;
  }

  body h1 {

  }
    #game-container {
    position: relative;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    border: 2px solid #b464ff;
    background-image: url(./src/img/bg-game.jpg);
    background-position: bottom;
    background-size: cover;
    overflow: hidden;
    box-shadow: 0 0 10px 2px rgba(119, 0, 255, 0.8);
    border-radius: 30px;
    }
  
  .character {
    position: absolute;
    width: 76px;
    height: 71px;
    background-image: url(./src/img/sprits/charsprit1.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    transform: scaleX(1);
  }

  .right {
    transform: scaleX(-1);
  }

  .jump {
    background-image: url(./src/img/sprits/charjump.png);
  }

  .fall {
    background-image: url(./src/img/sprits/charfall.png);
    background-size: 80%;
  }
  
  .coin {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(./src/img/sprits/floppy.png);
    background-size: 110%;
    background-position: center;
    border-radius: 5%;
    box-shadow: 0px -0px 20px 5px #ff6ce7;
  }